.product .related {

    float: right;
}

ul.products li.product .added_to_cart {
    margin: 0;
    background: #a8153d;
    width: 47%;
    border-radius: 0px 0px 10px 0px;
    color: white;
    padding: 4px 12px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    text-align: right;
}

ul.products li.product .added_to_cart:hover {
    background: #73112c;
    color: #ca647f;

}

body
{
    zoom: 0.6;
    background: yellow;
}